@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #238bad;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
  button:hover,
  button:focus {
    background-color: #16586d;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

fieldset {
  background-color: white;
  border: 1px solid #f9f7f6;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple=multiple],
textarea {
  background-color: #fff;
  border: 1px solid #f9f7f6;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple=multiple]:hover,
  textarea:hover {
    border-color: #e5dcd7; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple=multiple]:focus,
  textarea:focus {
    border-color: #238bad;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(31, 122, 152, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #dacec8;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #f9f7f6;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em;
  font-weight: 400; }

p {
  margin: 0 0 0.75em; }

a {
  color: #238bad;
  text-decoration: none;
  transition: color 0.1s linear; }
  a:active, a:focus, a:hover {
    color: #16586d; }
  a:active, a:focus {
    outline: none; }

hr {
  border-bottom: 1px solid #f9f7f6;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

/*! normalize.css 2012-02-07T12:37 UTC - http://github.com/necolas/normalize.css */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

h2 {
  font-size: 1.5em;
  margin: .83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: .83em;
  margin: 1.67em 0; }

h6 {
  font-size: .75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

p, pre {
  margin: 1em 0; }

pre, code, kbd, samp {
  font-family: monospace,serif;
  _font-family: 'courier new',monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

dl, menu, ol, ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

menu, ol, ul {
  padding: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  line-height: 1.5em;
  overflow-x: hidden; }

header, .billboard, .features, .cta, .container, footer {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  header::after, .billboard::after, .features::after, .cta::after, .container::after, footer::after {
    clear: both;
    content: "";
    display: table; }

header {
  z-index: 10; }
  header nav {
    position: absolute;
    top: 25px;
    right: 0;
    bottom: 0;
    left: auto; }
    @media screen and (max-width: 580px) {
      header nav {
        position: absolute;
        top: 10px;
        right: 0;
        bottom: auto;
        left: auto; } }

header nav a, header .logo {
  display: none; }
  @media screen and (max-width: 580px) {
    header nav a, header .logo {
      display: inline-block; } }

header .logo {
  width: 90px;
  position: absolute;
  top: 10px;
  right: 0;
  bottom: auto;
  left: 10px; }

header nav a {
  font-size: 12px;
  margin: 0.35em; }

section {
  margin: 2em auto; }

footer {
  margin: 3em auto 4em; }
  footer nav a {
    display: inline-block;
    font-size: 18px;
    margin: 0 1.5em;
    text-decoration: none;
    padding: 0.2em; }
    @media screen and (max-width: 768px) {
      footer nav a {
        padding: 18px 0; } }
  footer .footer-logo {
    margin: 3em auto 2em;
    display: inline-block; }
    footer .footer-logo img {
      width: 160px; }
  footer p {
    margin-top: 0; }

.latest, .features h2, .feature p, .cta, footer, .billboard-text {
  text-align: center; }

.latest {
  margin-bottom: 3em; }
  @media screen and (max-width: 580px) {
    .latest {
      display: none; } }

.bond, .billboard-text {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .bond:last-child, .billboard-text:last-child {
    margin-right: 0; }
  @media screen and (max-width: 1023px) {
    .bond, .billboard-text {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      text-align: center; }
      .bond:last-child, .billboard-text:last-child {
        margin-right: 0; } }

.bond img {
  max-width: 720px;
  margin-left: -22px; }
  @media screen and (max-width: 768px) {
    .bond img {
      max-width: 100%; } }

.billboard-text {
  margin-top: 60px;
  margin-top: calc(80px - 1.8em);
  padding-right: 12px; }
  @media screen and (max-width: 768px) {
    .billboard-text {
      margin-top: 1em; } }
  @media screen and (max-width: 580px) {
    .billboard-text {
      font-size: 12px; } }

.quotes {
  margin-bottom: 2em;
  padding: 4em 0 2em;
  background: #f9f7f6; }
  .quotes .container div {
    padding-left: 0.7em;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%; }
    .quotes .container div:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      .quotes .container div {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        margin-left: 0%; }
        .quotes .container div:last-child {
          margin-right: 0; } }

.quote-photo {
  float: left;
  display: block;
  margin-right: 3.57866%;
  width: 22.316%;
  width: 140px; }
  .quote-photo:last-child {
    margin-right: 0; }

.features {
  padding: 0.1em 0 1em; }
  .features .feature {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    font-size: 18px; }
    .features .feature:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      .features .feature {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        text-align: center; }
        .features .feature:last-child {
          margin-right: 0; } }
    .features .feature p {
      font-size: 24px; }

hr {
  margin: 0 auto;
  width: 96%; }

.cta {
  padding: 1em 0 2em; }
  .cta .cta-text {
    font-size: 28px;
    line-height: 1.4;
    margin-bottom: 0;
    padding: 0 8em; }
    @media screen and (max-width: 1023px) {
      .cta .cta-text {
        padding: 0 5em; } }
    @media screen and (max-width: 768px) {
      .cta .cta-text {
        padding: 0 2em; } }
    @media screen and (max-width: 580px) {
      .cta .cta-text {
        font-size: 22px; } }

a {
  color: #238bad; }

h1 {
  color: #5ca70b;
  font-size: 36px;
  line-height: 1.6;
  margin: 0.8em 0 0.53em; }
  @media screen and (max-width: 580px) {
    h1 {
      font-size: 24px; } }

h2 {
  font-size: 28px;
  line-height: 1.4;
  margin: 1em 0 2em;
  text-align: center; }
  @media screen and (max-width: 768px) {
    h2 {
      margin: 1em 1em 2em; } }

blockquote {
  font-size: 21px;
  font-style: italic;
  line-height: 1.6;
  color: #777;
  margin: 0 0.7em 0 0; }
  blockquote cite {
    font-size: 18px;
    font-style: italic;
    float: right;
    display: inline-block;
    margin-top: 1em; }
    blockquote cite::after {
      clear: both;
      content: "";
      display: table; }

.txt-18 {
  font-size: 18px; }

.button {
  background: #238bad;
  border-radius: 3px;
  color: white;
  display: inline-block;
  margin-right: 12px;
  position: relative;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out 0s; }

.button-header {
  border-radius: 4px;
  font-size: 13px;
  text-transform: uppercase;
  padding: 2px 8px; }
  @media screen and (max-width: 580px) {
    .button-header {
      text-transform: lowercase;
      padding: 0 8px;
      margin-right: 6px; } }

.button-billboard {
  font-size: 24px;
  margin: 1em 0;
  padding: 16px 48px; }

.button-cta {
  font-size: 21px;
  margin: 1em 0;
  padding: 12px 24px; }

.button:hover {
  background: #126681;
  color: white; }

.logo-billboard {
  margin: 1em 30%;
  width: 200px; }
  .logo-billboard::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 580px) {
    .logo-billboard {
      display: none; } }

blockquote::before {
  color: #d3d2ca;
  content: "“";
  float: left;
  font-size: 48px;
  height: 180px;
  margin-top: -14px;
  padding-right: 10px; }

blockquote::after {
  color: #d3d2ca;
  content: "”";
  font-size: 48px;
  line-height: 0.25;
  position: relative;
  top: 12px; }

/*# sourceMappingURL=screen.css.map */
